* {box-sizing: border-box}

.auth-container {
  padding: 16px;
  width: 500px;
  margin: 0 auto;
}

h1{
  text-align: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #fc5a5a;
  margin-bottom: 25px;
}

.authbtn {
  font-size: 15px;
  background-color: #fc5a5a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.authbtn:hover {
  opacity:1;
}

a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

.reg {
  margin: 0 auto;
  width: 470px;
  text-align: center;
}

.backbtn {
  font-size: 15px;
  background-color: #fc5a5a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.backbtn:hover {
  opacity:1;
}

span {
  color:red;
}