body {
    margin: 0 auto;
    font-family: 'Bergen Text';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bergen Text;
    src: url(./fonts//BERGENTEXT-REGULAR.TTF);
}
